Repository Recipe-Web-App/recipe-ui-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, stylelint, markdownlint, trivy-config, npm-audit, madge-circular, license-check, kubeval, conftest, kube-score

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|ya?ml|md|css|scss)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  stylelint: any of: \.(css|scss)$
  markdownlint: any of: \.md$
  trivy-config: any of: Dockerfile.*
  npm-audit: any of: package.*\.json$
  madge-circular: any of: \.(js|jsx|ts|tsx)$
  license-check: any of: package.*\.json$
  kubeval: any of: k8s/.*\.(yml|yaml)$
  conftest: any of: k8s/.*\.(yml|yaml)$
  kube-score: any of: k8s/.*\.yaml$

feat(forms): added ingredient form
  package-lock.json
  package.json
  src/components/forms/FormField.tsx
  src/components/forms/IngredientForm.tsx
  src/hooks/forms/useIngredientForm.ts
  src/lib/forms/form-utils.ts
  src/lib/validation/ingredient-schemas.ts
  tests/unit/components/forms/IngredientForm.test.tsx
  tests/unit/lib/forms/form-utils.test.ts
  tests/unit/lib/validation/ingredient-schemas.test.ts
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

feat(forms): added recipe form
  src/components/forms/FormField.tsx
  src/components/forms/RecipeForm.tsx
  src/hooks/forms/useRecipeForm.ts
  src/lib/validation/recipe-schemas.ts
  tests/unit/components/forms/RecipeForm.test.tsx
  tests/unit/hooks/forms/useRecipeForm.test.tsx
  tests/unit/lib/validation/recipe-schemas.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(forms): added review form
  src/components/forms/ReviewForm.tsx
  src/hooks/forms/useReviewForm.ts
  src/lib/validation/review-schemas.ts
  tests/unit/components/forms/ReviewForm.test.tsx
  tests/unit/hooks/forms/useReviewForm.test.tsx
  tests/unit/lib/validation/review-schemas.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(forms): added advanced-search form
  src/components/forms/SearchForm.tsx
  src/hooks/forms/useSearchForm.ts
  src/lib/validation/search-schemas.ts
  tests/unit/components/forms/SearchForm.test.tsx
  tests/unit/hooks/forms/useSearchForm.test.tsx
  tests/unit/lib/validation/search-schemas.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(forms): added user-profile form
  src/components/forms/ProfileForm.tsx
  src/hooks/forms/useProfileForm.ts
  src/lib/validation/profile-schemas.ts
  tests/unit/components/forms/ProfileForm.test.tsx
  tests/unit/hooks/forms/useProfileForm.test.tsx
  tests/unit/lib/validation/profile-schemas.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(error-boundaries): added service error boundary
  .pre-commit-config.yaml
  .semgrepignore
  src/app/components-demo/page.tsx
  src/app/components-demo/service-error-boundary/page.tsx
  src/components/error/ServiceErrorBoundary.tsx
  src/lib/error/service-error-utils.ts
  src/lib/ui/service-error-boundary-variants.ts
  src/types/error/service-errors.ts
  tests/unit/components/error/ServiceErrorBoundary.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(error-boundaries): added page error boundary
  src/app/components-demo/page-error-boundary/page.tsx
  src/app/components-demo/page.tsx
  src/components/error/PageErrorBoundary.tsx
  src/config/navigation.ts
  src/lib/error/page-error-utils.ts
  src/lib/ui/page-error-boundary-variants.ts
  src/types/error/page-errors.ts
  tests/unit/components/error/PageErrorBoundary.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(error-boundaries): added component error boundary
  src/app/components-demo/component-error-boundary/page.tsx
  src/components/error/ComponentErrorBoundary.tsx
  src/config/navigation.ts
  src/lib/error/component-error-utils.ts
  src/lib/ui/component-error-boundary-variants.ts
  src/types/error/component-errors.ts
  tests/unit/components/error/ComponentErrorBoundary.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

docs(error-boundaries): added stories for error boundary components
  src/components/error/ComponentErrorBoundary.stories.mdx
  src/components/error/PageErrorBoundary.stories.mdx
  src/components/error/ServiceErrorBoundary.stories.mdx
Due: none

feat(error-components): added error page component
  src/app/components-demo/error-page/page.tsx
  src/app/components-demo/page.tsx
  src/components/error/ErrorPage.stories.mdx
  src/components/error/ErrorPage.tsx
  src/config/navigation.ts
  tests/unit/components/error/ErrorPage.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(error-components): added error alert component
  src/app/components-demo/error-alert/page.tsx
  src/app/components-demo/page.tsx
  src/components/error/ErrorAlert.stories.mdx
  src/components/error/ErrorAlert.tsx
  src/config/navigation.ts
  src/lib/error/error-alert-utils.ts
  src/lib/ui/error-alert-variants.ts
  src/types/error/error-alert.ts
  tests/unit/components/error/ErrorAlert.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(error-components): added retry button component
  src/app/components-demo/page.tsx
  src/app/components-demo/retry-button/page.tsx
  src/components/error/RetryButton.stories.mdx
  src/components/error/RetryButton.tsx
  src/config/navigation.ts
  src/lib/ui/retry-button-variants.ts
  src/types/error/retry-button.ts
  tests/unit/components/error/RetryButton.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(route-protection): implemented protected route component
  src/app/(main)/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/protected-route/page.tsx
  src/components/auth/ProtectedRoute.tsx
  src/components/auth/index.ts
  src/config/navigation.ts
  src/constants/index.ts
  src/lib/auth/route-protection.ts
  src/stores/auth-store.ts
  src/types/auth/index.ts
  src/types/auth/protected-route.ts
  tests/unit/components/auth/ProtectedRoute.test.tsx
  tests/unit/lib/auth/route-protection.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(route-protection): implemented guest-only route component
  src/app/(auth)/layout.tsx
  src/app/components-demo/guest-route/page.tsx
  src/app/components-demo/page.tsx
  src/components/auth/GuestOnlyRoute.tsx
  src/components/auth/index.ts
  src/config/navigation.ts
  src/lib/auth/route-protection.ts
  src/types/auth/guest-route.ts
  src/types/auth/index.ts
  tests/unit/components/auth/GuestOnlyRoute.test.tsx
  tests/unit/lib/auth/route-protection.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(route-protection): implemented role-guard route component
  src/app/components-demo/page.tsx
  src/app/components-demo/role-guard/page.tsx
  src/components/auth/RoleGuard.tsx
  src/components/auth/index.ts
  src/config/navigation.ts
  src/lib/auth/role-protection.ts
  src/types/auth/index.ts
  src/types/auth/role-guard.ts
  tests/unit/components/auth/RoleGuard.test.tsx
  tests/unit/lib/auth/role-protection.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(route-protection): implemented auth-check middleware
  package-lock.json
  package.json
  src/constants/index.ts
  src/constants/routes.ts
  src/lib/middleware/auth.ts
  src/middleware.ts
  src/stores/auth-store.ts
  tests/unit/constants/routes.test.ts
  tests/unit/lib/middleware/auth.test.ts
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

feat(route-protection): implemented route-redirection middleware
  src/app/403/page.tsx
  src/constants/routes.ts
  src/lib/middleware/role.ts
  src/lib/middleware/security-log.ts
  src/middleware.ts
  src/stores/auth-store.ts
  tests/unit/constants/routes.test.ts
  tests/unit/lib/middleware/role.test.ts
  tests/unit/lib/middleware/security-log.test.ts
  tests/unit/stores/auth-store.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(route-protection): implemented header-modification middleware
  next.config.ts
  src/hooks/use-nonce.ts
  src/lib/middleware/auth.ts
  src/lib/middleware/headers.ts
  src/middleware.ts
  tests/unit/lib/middleware/auth.test.ts
  tests/unit/lib/middleware/headers.test.ts
  tests/unit/lib/middleware/role.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(nav-utilities): implemented navigation utilities
  src/components/layout/auto-breadcrumb.tsx
  src/components/layout/layout.tsx
  src/components/providers.tsx
  src/contexts/navigation-context.tsx
  src/contexts/navigation-error-boundary.tsx
  src/hooks/use-breadcrumbs.ts
  src/hooks/use-navigation-context.ts
  src/lib/navigation/breadcrumb-utils.ts
  src/lib/navigation/index.ts
  src/lib/navigation/route-helpers.ts
  src/lib/navigation/route-metadata.ts
  tests/unit/components/layout/auto-breadcrumb.test.tsx
  tests/unit/components/layout/layout.test.tsx
  tests/unit/components/providers.test.tsx
  tests/unit/contexts/navigation-context.test.tsx
  tests/unit/contexts/navigation-error-boundary.test.tsx
  tests/unit/hooks/use-breadcrumbs.test.tsx
  tests/unit/hooks/use-navigation-context.test.tsx
  tests/unit/lib/navigation/breadcrumb-utils.test.ts
  tests/unit/lib/navigation/route-helpers.test.ts
  tests/unit/lib/navigation/route-metadata.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat: added service config
  src/config/services.ts
  src/lib/api/auth/client.ts
  src/lib/api/meal-plan-management/client.ts
  src/lib/api/media-management/client.ts
  src/lib/api/recipe-management/client.ts
  src/lib/api/recipe-scraper/client.ts
  src/lib/api/user-management/client.ts
  tests/unit/config/services.test.ts
  tests/unit/lib/api/media-management/client.test.ts
  tests/unit/lib/api/recipe-management/client.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/user-management/client.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(auth): implemented login feature
  src/app/(auth)/register/page.tsx
  src/components/forms/LoginForm.tsx
  src/components/forms/RegisterForm.tsx
  src/components/layout/user-menu.tsx
  src/lib/forms/auth-schemas.ts
  src/lib/middleware/headers.ts
  tests/unit/components/forms/LoginForm.test.tsx
  tests/unit/components/forms/RegisterForm.test.tsx
  tests/unit/lib/forms/auth-schemas.test.ts
  tests/unit/lib/middleware/headers.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix(auth): made main layout a protected route
  src/app/(main)/layout.tsx
Due: prettier, eslint, typescript-check, madge-circular

fix(auth): fixed host, route & redirect issues in auth features
  src/app/(main)/layout.tsx
  src/components/auth/ProtectedRoute.tsx
  src/config/services.ts
  src/lib/api/auth/client.ts
  src/lib/api/meal-plan-management/client.ts
  src/lib/api/media-management/client.ts
  src/lib/api/recipe-management/client.ts
  src/lib/api/recipe-scraper/client.ts
  src/lib/api/user-management/client.ts
  src/stores/auth-store.ts
  tests/unit/components/auth/GuestOnlyRoute.test.tsx
  tests/unit/components/auth/ProtectedRoute.test.tsx
  tests/unit/config/services.test.ts
  tests/unit/lib/auth/role-protection.test.ts
  tests/unit/lib/auth/route-protection.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(ui-components): removed inline styling causing console errors
  src/app/components-demo/accordion/page.tsx
  src/app/components-demo/icon/page.tsx
  src/components/error/ComponentErrorBoundary.tsx
  src/components/layout/auto-breadcrumb.tsx
  src/components/ui/checkbox.tsx
  src/components/ui/collapse.tsx
  src/components/ui/disclosure.tsx
  src/components/ui/file-upload.tsx
  src/components/ui/floating-action-button.tsx
  src/components/ui/infinite-scroll.tsx
  src/components/ui/progress.tsx
  src/components/ui/radio.tsx
  src/components/ui/rating.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/slider.tsx
  src/components/ui/switch.tsx
  src/components/ui/table.tsx
  src/components/ui/toast.tsx
  src/lib/ui/disclosure-variants.ts
  src/lib/ui/progress-variants.ts
  src/lib/ui/toast-variants.ts
Due: prettier, eslint, typescript-check, madge-circular

chore(ui-components): added background to pop-out components
  src/app/globals.css
Due: prettier, stylelint

feat: removed / from public routes to help with redirects
  src/constants/routes.ts
Due: prettier, eslint, typescript-check, madge-circular

test: fixed broken unit tests
  tests/unit/components/layout/auto-breadcrumb.test.tsx
  tests/unit/components/ui/Collapse.test.tsx
  tests/unit/components/ui/Progress.test.tsx
  tests/unit/components/ui/Skeleton.test.tsx
  tests/unit/components/ui/Table.test.tsx
  tests/unit/components/ui/Toast.test.tsx
  tests/unit/components/ui/floating-action-button.test.tsx
  tests/unit/constants/routes.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix: fixed build issue with guest only routes
  src/app/(auth)/layout.tsx
  src/app/components-demo/guest-route/page.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat: added token refresh error interceptor
  package-lock.json
  package.json
  src/lib/api/auth/client.ts
  src/lib/api/meal-plan-management/client.ts
  src/lib/api/media-management/client.ts
  src/lib/api/recipe-management/client.ts
  src/lib/api/recipe-scraper/client.ts
  src/lib/api/shared/token-refresh-interceptor.ts
  src/lib/api/user-management/client.ts
  tests/unit/lib/api/media-management/client.test.ts
  tests/unit/lib/api/shared/token-refresh-interceptor.test.ts
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

test: fixed test coverage
  tests/unit/lib/api/shared/token-refresh-interceptor.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix: fixed login cookie & redirect issues
  src/app/(auth)/login/page.tsx
  src/app/(main)/home/page.tsx
  src/app/(main)/layout.tsx
  src/app/page.tsx
  src/components/auth/GuestOnlyRoute.tsx
  src/components/forms/LoginForm.tsx
  src/config/navigation.ts
  src/constants/routes.ts
  src/stores/auth-store.ts
Due: prettier, eslint, typescript-check, madge-circular

chore: increased dependabot PR limit
  .github/dependabot.yml
Due: prettier

ci: updated github config to align with org standards
  .github/CODEOWNERS
  .github/CODE_OF_CONDUCT.md
  .github/CONTRIBUTING.md
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/security_issue.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/SECURITY.md
  .github/SUPPORT.md
  .github/dependabot.yml
  .github/labeler.yml
  .github/markdown-link-check.json
  .github/workflows/cleanup.yml
  .github/workflows/codeql.yml
  .github/workflows/coverage.yml
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/greet.yml
  .github/workflows/license-check.yml
  .github/workflows/links.yml
  .github/workflows/lock.yml
  .github/workflows/pr-labeler.yml
  .github/workflows/pr-size.yml
  .github/workflows/stale.yml
  CONTRIBUTING.md
  SECURITY.md
  WORKFLOWS.md
Due: prettier, markdownlint

docs(claude): updated claude docs
  CLAUDE.md
Due: prettier, markdownlint

docs: updated docs with latest repo information
  README.md
Due: prettier, markdownlint

fix: updated repo to use correct username (jsamuelsen11)
  .github/CODEOWNERS
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/ISSUE_TEMPLATE/performance_issue.yml
  .github/ISSUE_TEMPLATE/security_vulnerability.yml
  .github/ISSUE_TEMPLATE/task.yml
  .github/dependabot.yml
  DEPLOYMENT.md
  Dockerfile
  README.md
  WORKFLOWS.md
  renovate.json
Due: prettier, markdownlint, trivy-config

chore: deleted unused renovate config
  renovate.json
Due: prettier

docs: updated docs to replace renovate info with dependabot
  CHANGELOG.md
  README.md
  WORKFLOWS.md
Due: prettier, markdownlint

chore: updated pre-commit depends
  .pre-commit-config.yaml
Due: prettier

ci(pre-commit-ci): added pre-commit config for auto-updates
  .pre-commit-config.yaml
Due: prettier
