Repository Recipe-Web-App/recipe-ui-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, stylelint, markdownlint, trivy-config, npm-audit, madge-circular, license-check, kubeval, conftest, kube-score

prettier:
  name: Prettier formatting
  entry: npx prettier --write
  language: system

eslint:
  name: ESLint with security rules
  entry: npx eslint --fix --max-warnings=0 --no-warn-ignored
  language: system

typescript-check:
  name: TypeScript type checking
  entry: npx tsc --noEmit
  language: system
  pass_filenames: false

stylelint:
  name: Stylelint CSS/SCSS
  entry: npx stylelint --fix
  language: system

markdownlint:
  name: Markdownlint
  entry: npx markdownlint --fix
  language: system

trivy-config:
  name: Trivy configuration scan
  entry: trivy config .
  language: system
  pass_filenames: false

npm-audit:
  name: NPM vulnerability scan
  entry: bash -c 'npm audit --audit-level high || echo "⚠️ Vulnerabilities found"'
  language: system
  pass_filenames: false

madge-circular:
  name: Circular dependency detection
  entry: npx madge --circular --extensions js,jsx,ts,tsx src/
  language: system
  pass_filenames: false

license-check:
  name: License compliance check
  entry: npx license-checker --summary --excludePrivatePackages
  language: system
  pass_filenames: false

kubeval:
  name: Kubernetes manifest validation
  entry: bash -c 'if [ -d "k8s" ] && [ "$(find k8s -name "*.yml" -o -name "*.yaml" | wc -l)" -gt 0 ]; then find k8s -name "*.yml" -o -name "*.yaml" -exec kubeval {} \;; else echo "No Kubernetes files to validate"; fi'
  language: system
  pass_filenames: false

conftest:
  name: Kubernetes policy validation
  entry: bash -c 'if [ -d "k8s" ] && [ "$(find k8s -name "*.yml" -o -name "*.yaml" | wc -l)" -gt 0 ]; then find k8s -name "*.yml" -o -name "*.yaml" -exec conftest verify --policy conftest-policy.rego {} \;; else echo "No Kubernetes files to validate"; fi'
  ...

kube-score:
  name: Kubernetes resource validation
  entry: sh -c 'find k8s -name "*.yaml" -type f 2>/dev/null | xargs kube-score score 2>/dev/null || true'
  language: system
  pass_filenames: false
  args: []

feat(view-recipe): added view recipe page (#176)
  src/app/(main)/recipes/[id]/page.tsx
  src/components/forms/ReviewForm.tsx
  src/components/recipe/view/IngredientItem.tsx
  src/components/recipe/view/InstructionStep.tsx
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeMetadata.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/components/recipe/view/RecipeViewSkeleton.tsx
  src/components/recipe/view/ReviewItem.tsx
  src/components/recipe/view/ReviewModal.tsx
  src/components/recipe/view/ServingsScaler.tsx
  src/components/recipe/view/StarRatingDisplay.tsx
  src/components/recipe/view/TagsSection.tsx
  src/components/recipe/view/index.ts
  src/hooks/use-session-storage.ts
  src/lib/validation/review-schemas.ts
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/components/recipe/view/IngredientItem.test.tsx
  tests/unit/components/recipe/view/InstructionStep.test.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeMetadata.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
  tests/unit/components/recipe/view/RecipeViewSkeleton.test.tsx
  tests/unit/components/recipe/view/ReviewItem.test.tsx
  tests/unit/components/recipe/view/ReviewModal.test.tsx
  tests/unit/components/recipe/view/ServingsScaler.test.tsx
  tests/unit/components/recipe/view/StarRatingDisplay.test.tsx
  tests/unit/components/recipe/view/TagsSection.test.tsx
  tests/unit/hooks/use-session-storage.test.ts
  tests/unit/lib/validation/review-schemas.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix(create-recipe): fixed issue with browse favorites not showing recipes
  src/app/(main)/recipes/favorites/page.tsx
  src/types/recipe-management/favorite.ts
  tests/integration/frontend/favorites.test.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
  tests/unit/hooks/recipe-management/useFavorites.test.tsx
  tests/unit/lib/api/recipe-management/favorites.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix(create-recipe): fixed issue with list view not opening recipes
  src/components/recipe/RecipeListItem.tsx
  tests/unit/components/recipe/RecipeListItem.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

refactor(browse-recipes): updated 'add-to-collection' icon to be more self-descriptive
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

fix(view-recipe): fixed breadcrumb issue with view recipe page
  src/app/(main)/recipes/[id]/page.tsx
  src/app/(main)/recipes/favorites/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  src/app/(main)/recipes/trending/page.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/hooks/use-breadcrumbs.ts
  src/stores/ui/breadcrumb-store.ts
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/app/recipes/trending/page.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

Recipe page fixes (#177)
  src/app/(main)/recipes/[id]/page.tsx
  src/app/(main)/recipes/favorites/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  src/app/(main)/recipes/trending/page.tsx
  src/components/recipe/RecipeListItem.tsx
  src/components/recipe/view/RecipeActions.tsx
  src/components/recipe/view/RecipeViewPage.tsx
  src/hooks/use-breadcrumbs.ts
  src/stores/ui/breadcrumb-store.ts
  src/types/recipe-management/favorite.ts
  tests/integration/frontend/favorites.test.tsx
  tests/unit/app/recipes/[id]/page.test.tsx
  tests/unit/app/recipes/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/app/recipes/trending/page.test.tsx
  tests/unit/components/recipe/RecipeListItem.test.tsx
  tests/unit/components/recipe/view/RecipeActions.test.tsx
  tests/unit/components/recipe/view/RecipeViewPage.test.tsx
  tests/unit/hooks/recipe-management/useFavorites.test.tsx
  tests/unit/lib/api/recipe-management/favorites.test.ts
Due: prettier, eslint, typescript-check, madge-circular

chore: auto updated all pre commit hooks
  .markdownlint.json
  .pre-commit-config.yaml
Due: prettier

chore: auto updated all pre commit hooks (#184)
  .markdownlint.json
  .pre-commit-config.yaml
Due: prettier

feat(create-collection): added common tag component
  src/components/collection/create/BasicInfoSection.tsx
  src/components/recipe/create/steps/ReviewStep.tsx
  src/components/ui/tag-input.tsx
  src/types/ui/index.ts
  src/types/ui/tag-input.types.ts
  tests/unit/components/collection/create/BasicInfoSection.test.tsx
  tests/unit/components/ui/TagInput.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

fix: fixed issue with recipe search results not being displayed
  src/app/(main)/recipes/my-recipes/page.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/hooks/forms/useRecipeForm.ts
  src/hooks/recipe-management/useRecipes.ts
  src/lib/api/recipe-management/users.ts
  src/types/recipe-management/search.ts
  tests/unit/app/recipes/my-recipes/page.test.tsx
  tests/unit/app/recipes/trending/page.test.tsx
  tests/unit/components/collection/create/RecipePickerSection.test.tsx
  tests/unit/hooks/recipe-management/useRecipes.test.tsx
  tests/unit/hooks/recipe-management/useSearch.test.tsx
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/recipes.test.ts
  tests/unit/lib/api/recipe-management/search.test.ts
  tests/unit/lib/api/recipe-management/users.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(create-collection): refactored search to provide default suggestions & limit backend calls
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useRecipes.ts
  src/hooks/user-management/index.ts
  src/hooks/user-management/useUser.ts
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
  tests/unit/components/collection/create/RecipePickerSection.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(create-collection): added create collection page
  src/app/(main)/collections/create/page.tsx
  src/components/collection/create/BasicInfoSection.tsx
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/components/collection/create/CollectionPreview.tsx
  src/components/collection/create/CreateCollectionForm.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/components/collection/create/RecipeSearchResults.tsx
  src/components/collection/create/SelectedRecipesList.tsx
  src/components/collection/create/index.ts
  src/hooks/recipe-management/index.ts
  src/lib/validation/create-collection-schemas.ts
  src/stores/collection-store.ts
  src/types/collection/create-collection-form.ts
  tests/unit/components/collection/create/BasicInfoSection.test.tsx
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/components/collection/create/CollectionPreview.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
  tests/unit/components/collection/create/RecipePickerSection.test.tsx
  tests/unit/components/collection/create/RecipeSearchResults.test.tsx
  tests/unit/components/collection/create/SelectedRecipesList.test.tsx
  tests/unit/lib/validation/create-collection-schemas.test.ts
  tests/unit/stores/collection-store.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix(create-collection): fixed issue with user search results not being displayed
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/types/user-management/user.ts
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/hooks/user-management/useUser.test.tsx
  tests/unit/lib/api/user-management/users.test.ts
  tests/unit/types/user-management/user.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(create-collection): moved add-collaborator component over add-recipe component
  src/components/collection/create/CreateCollectionForm.tsx
Due: prettier, eslint, typescript-check, madge-circular

chore(create-collection): updated user search to exclude current user
  src/components/collection/create/CollaboratorPickerSection.tsx
  tests/unit/components/collection/create/CollaboratorPickerSection.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

refactor(create-collection): changed checklist input components to match recipe creation form
  src/components/collection/create/BasicInfoSection.tsx
  tests/unit/components/collection/create/BasicInfoSection.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(create-collection): added collection draft feature with auto-save
  src/app/(main)/collections/page.tsx
  src/components/collection/CollectionDraftBanner.tsx
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/components/collection/create/CreateCollectionForm.tsx
  src/components/collection/create/RecipePickerSection.tsx
  src/components/collection/index.ts
  tests/unit/components/collection/CollectionDraftBanner.test.tsx
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

refactor(create-collection): optimized downstream calls
  src/components/collection/create/CreateCollectionForm.tsx
  src/hooks/recipe-management/useCollections.ts
  src/types/recipe-management/collection.ts
  tests/unit/components/collection/create/CreateCollectionForm.test.tsx
  tests/unit/lib/api/recipe-management/collections.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix(create-collection): clear draft on successful collection creation
  src/components/collection/create/CreateCollectionForm.tsx
Due: prettier, eslint, typescript-check, madge-circular

fix(create-collection): clear draft on successful collection creation (#187)
  src/components/collection/create/CreateCollectionForm.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(browse-my-collections): implemented browse my collections page
  .gitignore
  .pre-commit-config.yaml
  src/app/(main)/collections/my-collections/page.tsx
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useUsers.ts
  src/lib/api/recipe-management/users.ts
  tests/unit/app/collections/my-collections/page.test.tsx
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/users.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(browse-my-collections): implemented browse my collections page (#188)
  .gitignore
  .pre-commit-config.yaml
  src/app/(main)/collections/my-collections/page.tsx
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useUsers.ts
  src/lib/api/recipe-management/users.ts
  tests/unit/app/collections/my-collections/page.test.tsx
  tests/unit/hooks/recipe-management/useUsers.test.tsx
  tests/unit/lib/api/recipe-management/users.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(kong): migrated service from ingress nginx to kong gateway
  .gitignore
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
Due: prettier, kubeval, conftest, kube-score

refactor(kong): updated service host references to use kong proxy
  src/config/services.ts
  src/lib/proxy/headers.ts
  tests/unit/config/services.test.ts
  tests/unit/lib/api/media-management/client.test.ts
  tests/unit/lib/api/notification/client.test.ts
  tests/unit/lib/api/recipe-management/client.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/shared/token-refresh-interceptor.test.ts
  tests/unit/lib/api/user-management/client.test.ts
  tests/unit/lib/proxy/headers.test.ts
Due: prettier, eslint, typescript-check, madge-circular

Kong migration (#192)
  .gitignore
  k8s/gateway-route.yaml
  k8s/ingress.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/get-container-status.sh
  scripts/containerManagement/start-container.sh
  scripts/containerManagement/update-container.sh
  src/config/services.ts
  src/lib/proxy/headers.ts
  tests/unit/config/services.test.ts
  tests/unit/lib/api/media-management/client.test.ts
  tests/unit/lib/api/notification/client.test.ts
  tests/unit/lib/api/recipe-management/client.test.ts
  tests/unit/lib/api/recipe-scraper/client.test.ts
  tests/unit/lib/api/shared/token-refresh-interceptor.test.ts
  tests/unit/lib/api/user-management/client.test.ts
  tests/unit/lib/proxy/headers.test.ts
Due: prettier, eslint, typescript-check, madge-circular, kubeval, conftest, kube-score

fix: fixed algorithm for head usage check in health/metric endpoints
  src/app/api/v1/recipe-ui/health/live/route.ts
  src/app/api/v1/recipe-ui/health/ready/route.ts
  src/app/api/v1/recipe-ui/health/route.ts
  src/app/api/v1/recipe-ui/metrics/route.ts
Due: prettier, eslint, typescript-check, madge-circular

fix: fixed algorithm for head usage check in health/metric endpoints (#193)
  src/app/api/v1/recipe-ui/health/live/route.ts
  src/app/api/v1/recipe-ui/health/ready/route.ts
  src/app/api/v1/recipe-ui/health/route.ts
  src/app/api/v1/recipe-ui/metrics/route.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(bun-migration): migrate core app framework to bun
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/maintenance.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test-suite.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.dev
  bun.lock
  k8s/deployment.yaml
  lighthouserc.js
  package-lock.json
  package.json
  playwright.config.ts
  tests/performance/bundle-size/bundle.test.js
  tests/performance/lighthouse/config.js
  tests/performance/load-testing/load.test.js
Due: prettier, eslint, typescript-check, trivy-config, npm-audit, madge-circular, license-check, kubeval, conftest, kube-score

refactor(bun-migration): migrate core app framework to bun (#195)
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/coverage.yml
  .github/workflows/deploy.yml
  .github/workflows/license-check.yml
  .github/workflows/maintenance.yml
  .github/workflows/performance.yml
  .github/workflows/release.yml
  .github/workflows/security.yml
  .github/workflows/test-suite.yml
  .pre-commit-config.yaml
  Dockerfile
  Dockerfile.dev
  bun.lock
  k8s/deployment.yaml
  lighthouserc.js
  package-lock.json
  package.json
  playwright.config.ts
  tests/performance/bundle-size/bundle.test.js
  tests/performance/lighthouse/config.js
  tests/performance/load-testing/load.test.js
Due: prettier, eslint, typescript-check, trivy-config, npm-audit, madge-circular, license-check, kubeval, conftest, kube-score

ci(renovate): migrated from dependabot to renovate for bun support
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/renovate-auto-merge.yml
Due: prettier

ci(renovate): migrated from dependabot to renovate for bun support (#200)
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/dependabot-auto-merge.yml
  .github/workflows/renovate-auto-merge.yml
Due: prettier

refactor(user-preferences): updated user-mgmt-service client to support refactored preference schema
  src/hooks/forms/useProfileForm.ts
  src/hooks/user-management/index.ts
  src/hooks/user-management/useAdmin.ts
  src/hooks/user-management/usePreferences.ts
  src/hooks/user-management/useSocial.ts
  src/hooks/user-management/useUser.ts
  src/lib/api/user-management/admin.ts
  src/lib/api/user-management/client.ts
  src/lib/api/user-management/health.ts
  src/lib/api/user-management/index.ts
  src/lib/api/user-management/metrics.ts
  src/lib/api/user-management/preferences.ts
  src/lib/api/user-management/social.ts
  src/lib/api/user-management/users.ts
  src/types/user-management/admin.ts
  src/types/user-management/common.ts
  src/types/user-management/health.ts
  src/types/user-management/index.ts
  src/types/user-management/metrics.ts
  src/types/user-management/preferences.ts
  tests/unit/hooks/user-management/useAdmin.test.tsx
  tests/unit/hooks/user-management/usePreferences.test.tsx
  tests/unit/hooks/user-management/useSocial.test.tsx
  tests/unit/hooks/user-management/useUser.test.tsx
  tests/unit/lib/api/user-management/admin.test.ts
  tests/unit/lib/api/user-management/client.test.ts
  tests/unit/lib/api/user-management/health.test.ts
  tests/unit/lib/api/user-management/metrics.test.ts
  tests/unit/lib/api/user-management/preferences.test.ts
  tests/unit/lib/api/user-management/social.test.ts
  tests/unit/lib/api/user-management/users.test.ts
  tests/unit/types/user-management/admin.test.ts
  tests/unit/types/user-management/common.test.ts
  tests/unit/types/user-management/health.test.ts
  tests/unit/types/user-management/metrics.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(user-preferences): removed legacy preference references & updated components
  src/components/collection/create/CollaboratorPickerSection.tsx
  src/hooks/forms/useProfileForm.ts
  src/hooks/user-management/index.ts
  src/hooks/user-management/useUserPreferences.ts
  src/lib/api/user-management/index.ts
  src/lib/api/user-management/notifications.ts
  src/stores/preferences-store.ts
  src/types/user-management/index.ts
  src/types/user-management/user.ts
  tests/unit/hooks/user-management/useUserPreferences.test.tsx
  tests/unit/lib/api/user-management/notifications.test.ts
  tests/unit/stores/preferences-store.test.ts
  tests/unit/types/user-management/user.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(auth): updated auth-service client to support refactored schema
  src/constants/index.ts
  src/hooks/auth/index.ts
  src/hooks/auth/useAdmin.ts
  src/hooks/auth/useOAuth2.ts
  src/lib/api/auth/admin.ts
  src/lib/api/auth/index.ts
  src/lib/api/auth/oauth2.ts
  src/types/auth/admin.ts
  src/types/auth/client.ts
  src/types/auth/health.ts
  src/types/auth/index.ts
  tests/unit/lib/api/auth/admin.test.ts
  tests/unit/lib/api/auth/health.test.ts
  tests/unit/lib/api/auth/oauth2.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(auth): updated auth-service client to support refactored schema (#204)
  src/constants/index.ts
  src/hooks/auth/index.ts
  src/hooks/auth/useAdmin.ts
  src/hooks/auth/useOAuth2.ts
  src/lib/api/auth/admin.ts
  src/lib/api/auth/index.ts
  src/lib/api/auth/oauth2.ts
  src/types/auth/admin.ts
  src/types/auth/client.ts
  src/types/auth/health.ts
  src/types/auth/index.ts
  tests/unit/lib/api/auth/admin.test.ts
  tests/unit/lib/api/auth/health.test.ts
  tests/unit/lib/api/auth/oauth2.test.ts
Due: prettier, eslint, typescript-check, madge-circular

chore(fav-collections): added downstream client for collection favorite endpoints
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionFavorites.ts
  src/lib/api/recipe-management/collection-favorites.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection-favorite.ts
  src/types/recipe-management/index.ts
  tests/unit/hooks/recipe-management/useCollectionFavorites.test.tsx
  tests/unit/lib/api/recipe-management/collection-favorites.test.ts
Due: prettier, eslint, typescript-check, madge-circular

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|ya?ml|md|css|scss)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  stylelint: any of: \.(css|scss)$
  markdownlint: any of: \.md$
  trivy-config: any of: Dockerfile.*
  npm-audit: any of: package.*\.json$
  madge-circular: any of: \.(js|jsx|ts|tsx)$
  license-check: any of: package.*\.json$
  kubeval: any of: k8s/.*\.(yml|yaml)$
  conftest: any of: k8s/.*\.(yml|yaml)$
  kube-score: any of: k8s/.*\.yaml$
