Repository Recipe-Web-App/recipe-ui-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, stylelint, markdownlint, trivy-config, npm-audit, madge-circular, license-check, kubeval, conftest, kube-score

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|ya?ml|md|css|scss)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  stylelint: any of: \.(css|scss)$
  markdownlint: any of: \.md$
  trivy-config: any of: Dockerfile.*
  npm-audit: any of: package.*\.json$
  madge-circular: any of: \.(js|jsx|ts|tsx)$
  license-check: any of: package.*\.json$
  kubeval: any of: k8s/.*\.(yml|yaml)$
  conftest: any of: k8s/.*\.(yml|yaml)$
  kube-score: any of: k8s/.*\.yaml$

chore(fav-collections): added downstream client for collection favorite endpoints (#205)
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionFavorites.ts
  src/lib/api/recipe-management/collection-favorites.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection-favorite.ts
  src/types/recipe-management/index.ts
  tests/unit/hooks/recipe-management/useCollectionFavorites.test.tsx
  tests/unit/lib/api/recipe-management/collection-favorites.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(browse-fav-collections): implemented browse-favorite-collections-page
  src/app/(main)/collections/favorites/page.tsx
  src/app/(main)/collections/my-collections/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  tests/unit/app/collections/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(browse-fav-collections): implemented browse-favorite-collections-page (#207)
  src/app/(main)/collections/favorites/page.tsx
  src/app/(main)/collections/my-collections/page.tsx
  src/app/(main)/recipes/my-recipes/page.tsx
  tests/unit/app/collections/favorites/page.test.tsx
  tests/unit/app/recipes/my-recipes/page.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

refactor: removed pages for popular collections & popular meal plans
  src/app/(main)/collections/popular/page.tsx
  src/app/(main)/meal-plans/popular/page.tsx
  src/app/sitemap.ts
  src/config/navigation.ts
  tests/unit/config/navigation.test.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor: removed pages for popular collections & popular meal plans (#208)
  src/app/(main)/collections/popular/page.tsx
  src/app/(main)/meal-plans/popular/page.tsx
  src/app/sitemap.ts
  src/config/navigation.ts
  tests/unit/config/navigation.test.ts
Due: prettier, eslint, typescript-check, madge-circular

chore(collection-tags): updated recipe-mgmt client to support collectiont tags
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionTags.ts
  src/lib/api/recipe-management/collection-tags.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection.ts
  tests/unit/hooks/recipe-management/useCollectionTags.test.tsx
  tests/unit/lib/api/recipe-management/collection-tags.test.ts
Due: prettier, eslint, typescript-check, madge-circular

fix(collection-tags): updated create collection form to pass tags to backend
  src/components/collection/create/CreateCollectionForm.tsx
Due: prettier, eslint, typescript-check, madge-circular

Recipe mgmt client update (#209)
  src/components/collection/create/CreateCollectionForm.tsx
  src/constants/index.ts
  src/hooks/recipe-management/index.ts
  src/hooks/recipe-management/useCollectionTags.ts
  src/lib/api/recipe-management/collection-tags.ts
  src/lib/api/recipe-management/index.ts
  src/types/recipe-management/collection.ts
  tests/unit/hooks/recipe-management/useCollectionTags.test.tsx
  tests/unit/lib/api/recipe-management/collection-tags.test.ts
Due: prettier, eslint, typescript-check, madge-circular

chore(meal-plan-mgmt): updated meal plan mgmt client to support trending plans & tags
  src/constants/index.ts
  src/hooks/meal-plan-management/index.ts
  src/hooks/meal-plan-management/use-favorites.ts
  src/hooks/meal-plan-management/use-tags.ts
  src/hooks/meal-plan-management/use-trending.ts
  src/lib/api/meal-plan-management/favorites.ts
  src/lib/api/meal-plan-management/index.ts
  src/lib/api/meal-plan-management/meal-plans.ts
  src/lib/api/meal-plan-management/tags.ts
  src/lib/api/meal-plan-management/trending.ts
  src/types/meal-plan-management/favorites.ts
  src/types/meal-plan-management/index.ts
  src/types/meal-plan-management/meal-plan.ts
  src/types/meal-plan-management/requests.ts
  src/types/meal-plan-management/tags.ts
  tests/unit/hooks/meal-plan-management/use-favorites.test.tsx
  tests/unit/hooks/meal-plan-management/use-tags.test.tsx
  tests/unit/hooks/meal-plan-management/use-trending.test.tsx
  tests/unit/lib/api/meal-plan-management/favorites.test.ts
  tests/unit/lib/api/meal-plan-management/tags.test.ts
  tests/unit/lib/api/meal-plan-management/trending.test.ts
Due: prettier, eslint, typescript-check, madge-circular

chore(meal-plan-mgmt): updated meal plan mgmt client to support trending plans & tags (#210)
  src/constants/index.ts
  src/hooks/meal-plan-management/index.ts
  src/hooks/meal-plan-management/use-favorites.ts
  src/hooks/meal-plan-management/use-tags.ts
  src/hooks/meal-plan-management/use-trending.ts
  src/lib/api/meal-plan-management/favorites.ts
  src/lib/api/meal-plan-management/index.ts
  src/lib/api/meal-plan-management/meal-plans.ts
  src/lib/api/meal-plan-management/tags.ts
  src/lib/api/meal-plan-management/trending.ts
  src/types/meal-plan-management/favorites.ts
  src/types/meal-plan-management/index.ts
  src/types/meal-plan-management/meal-plan.ts
  src/types/meal-plan-management/requests.ts
  src/types/meal-plan-management/tags.ts
  tests/unit/hooks/meal-plan-management/use-favorites.test.tsx
  tests/unit/hooks/meal-plan-management/use-tags.test.tsx
  tests/unit/hooks/meal-plan-management/use-trending.test.tsx
  tests/unit/lib/api/meal-plan-management/favorites.test.ts
  tests/unit/lib/api/meal-plan-management/tags.test.ts
  tests/unit/lib/api/meal-plan-management/trending.test.ts
Due: prettier, eslint, typescript-check, madge-circular

docs: updated claude.md
  CLAUDE.md
Due: prettier, markdownlint

docs: updated all outdated docs
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  CHANGELOG.md
  README.md
  UI_GUIDE.md
  WORKFLOWS.md
  docs/components/README.md
  docs/components/accordion.md
  docs/components/alert.md
  docs/components/avatar.md
  docs/components/badge.md
  docs/components/button.md
  docs/components/card.md
  docs/components/dialog.md
  docs/components/dropdown.md
  docs/components/grid.md
  docs/components/input.md
  docs/components/navigation.md
  docs/components/progress.md
  docs/components/select.md
  docs/components/tabs.md
  docs/components/textarea.md
  docs/components/tooltip.md
Due: prettier, markdownlint

Doc update (#211)
  .github/CONTRIBUTING.md
  .github/SUPPORT.md
  CHANGELOG.md
  CLAUDE.md
  README.md
  UI_GUIDE.md
  WORKFLOWS.md
  docs/components/README.md
  docs/components/accordion.md
  docs/components/alert.md
  docs/components/avatar.md
  docs/components/badge.md
  docs/components/button.md
  docs/components/card.md
  docs/components/dialog.md
  docs/components/dropdown.md
  docs/components/grid.md
  docs/components/input.md
  docs/components/navigation.md
  docs/components/progress.md
  docs/components/select.md
  docs/components/tabs.md
  docs/components/textarea.md
  docs/components/tooltip.md
Due: prettier, markdownlint

chore(fav-collections): added downstream client for collection favorite endpoints
  src/constants/index.ts
  src/hooks/recipe-management/useCollections.ts
  src/lib/api/recipe-management/collections.ts
  tests/unit/hooks/recipe-management/useCollections.test.tsx
  tests/unit/lib/api/recipe-management/collections.test.ts
Due: prettier, eslint, typescript-check, madge-circular

chore(fav-collections): added downstream client for collection favorite endpoints (#212)
  src/constants/index.ts
  src/hooks/recipe-management/useCollections.ts
  src/lib/api/recipe-management/collections.ts
  tests/unit/hooks/recipe-management/useCollections.test.tsx
  tests/unit/lib/api/recipe-management/collections.test.ts
Due: prettier, eslint, typescript-check, madge-circular

docs(openapi): added open api specification
  docs/api/openapi.yaml
Due: prettier

docs(openapi): added open api specification (#213)
  docs/api/openapi.yaml
Due: prettier

ci(renovate): fixed config validation error for renovate
  .github/renovate.json
Due: prettier

ci(renovate): fixed config validation error for renovate (#240)
  .github/renovate.json
Due: prettier

ci(renovate): added pre-commit to renovate config
  .github/renovate.json
  .pre-commit-config.yaml
Due: prettier

ci(renovate): added pre-commit to renovate config (#241)
  .github/renovate.json
  .pre-commit-config.yaml
Due: prettier

chore(ops-cli): removed gateway config from project
  k8s/gateway-route.yaml
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Due: prettier, kubeval, conftest, kube-score

fix: fixed docker build issues
  Dockerfile
  Dockerfile.dev
  package-lock.json
Due: prettier, trivy-config, npm-audit, license-check

Kong migration (#253)
  Dockerfile
  Dockerfile.dev
  k8s/gateway-route.yaml
  package-lock.json
  scripts/containerManagement/cleanup-container.sh
  scripts/containerManagement/deploy-container.sh
  scripts/containerManagement/update-container.sh
Due: prettier, trivy-config, npm-audit, license-check, kubeval, conftest, kube-score

bd migrate-sync: initial sync branch setup
  .beads/issues.jsonl
  .beads/metadata.json
Due: prettier

feat(beads): integrated beads with repository
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Due: prettier, markdownlint

feat(beads): integrated beads with repository (#255)
  .beads/.gitignore
  .beads/README.md
  .beads/config.yaml
  .beads/interactions.jsonl
  .beads/issues.jsonl
  .beads/metadata.json
  .gitattributes
  .gitignore
  .markdownlintignore
  AGENTS.md
Due: prettier, markdownlint

chore: updated claude config
  CLAUDE.md
Due: prettier, markdownlint

chore: updated claude config (#256)
  CLAUDE.md
Due: prettier, markdownlint

fix(bun-lock): fixed bun lock deployment issue
  bun.lock
Due: none

fix(bun-lock): fixed bun lock deployment issue (#272)
  bun.lock
Due: none

bd daemon sync: 2026-02-06 16:47:23
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:49:27
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:49:33
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:50:06
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:50:10
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:50:14
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:50:19
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:50:22
  .beads/issues.jsonl
Due: none

bd daemon sync: 2026-02-06 16:50:26
  .beads/issues.jsonl
Due: none
