Repository Recipe-Web-App/recipe-ui-service: changes, and which pre-commit hooks are due for each by the changed paths.
All: prettier, eslint, typescript-check, stylelint, markdownlint, trivy-config, npm-audit, madge-circular, license-check, kubeval, conftest, kube-score

Path conditions:
  prettier: any of: \.(js|jsx|ts|tsx|json|ya?ml|md|css|scss)$
  eslint: any of: \.(js|jsx|ts|tsx)$
  typescript-check: any of: \.(ts|tsx)$
  stylelint: any of: \.(css|scss)$
  markdownlint: any of: \.md$
  trivy-config: any of: Dockerfile.*
  npm-audit: any of: package.*\.json$
  madge-circular: any of: \.(js|jsx|ts|tsx)$
  license-check: any of: package.*\.json$
  kubeval: any of: k8s/.*\.(yml|yaml)$
  conftest: any of: k8s/.*\.(yml|yaml)$
  kube-score: any of: k8s/.*\.yaml$

docs: updated docs to implemented repo structure
  ARCHITECTURE.md
  CLAUDE.md
  README.md
Due: prettier, markdownlint

chore: updated markdownlint to ignore claude.md
  .markdownlintignore
  .pre-commit-config.yaml
Due: prettier

docs(claude): updated claude docs with latest repo state
  CLAUDE.md
Due: prettier, markdownlint

feat(ui-store): implemented ui store
  src/stores/ui/accessibility-store.ts
  src/stores/ui/feature-store.ts
  src/stores/ui/index.ts
  src/stores/ui/interaction-store.ts
  src/stores/ui/layout-store.ts
  src/stores/ui/loading-store.ts
  src/stores/ui/modal-store.ts
  src/stores/ui/navigation-store.ts
  src/stores/ui/offline-store.ts
  src/stores/ui/search-filter-store.ts
  src/stores/ui/theme-store.ts
  src/stores/ui/toast-store.ts
  src/types/ui/accessibility.ts
  src/types/ui/features.ts
  src/types/ui/index.ts
  src/types/ui/interaction.ts
  src/types/ui/layout.ts
  src/types/ui/loading.ts
  src/types/ui/modal.ts
  src/types/ui/navigation.ts
  src/types/ui/offline.ts
  src/types/ui/search-filter.ts
  src/types/ui/theme.ts
  src/types/ui/toast.ts
Due: prettier, eslint, typescript-check, madge-circular

docs(ui-store): updated docs with ui-store info
  ARCHITECTURE.md
  README.md
  UI_GUIDE.md
Due: prettier, markdownlint

chore(admin-ui): configured repo dependencies
  tests/unit/stores/auth-store.test.ts
  tests/unit/stores/ui/accessibility-store.test.ts
  tests/unit/stores/ui/feature-store.test.ts
  tests/unit/stores/ui/index.test.ts
  tests/unit/stores/ui/interaction-store.test.ts
  tests/unit/stores/ui/layout-store.test.ts
  tests/unit/stores/ui/loading-store.test.ts
  tests/unit/stores/ui/modal-store.test.ts
  tests/unit/stores/ui/navigation-store.test.ts
  tests/unit/stores/ui/offline-store.test.ts
  tests/unit/stores/ui/search-filter-store.test.ts
  tests/unit/stores/ui/theme-store.test.ts
  tests/unit/stores/ui/toast-store.test.ts
Due: prettier, eslint, typescript-check, madge-circular

feat(user-pref-store): implemented user-preference store
  UI_GUIDE.md
  src/stores/preferences-store.ts
  tests/unit/stores/preferences-store.test.ts
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(recipe-store): implemented recipe store
  src/stores/recipe-store.ts
Due: prettier, eslint, typescript-check, madge-circular

test(recipe-store): implemented recipe store tests
  tests/unit/stores/recipe-store.test.ts
Due: prettier, eslint, typescript-check, madge-circular

docs(recipe-store): added recipe store to UI docs
  UI_GUIDE.md
Due: prettier, markdownlint

feat(ui-components): added button UI component
  package-lock.json
  package.json
  src/components/ui/Button.stories.mdx
  src/components/ui/button.tsx
  src/lib/button-variants.ts
  src/lib/utils.ts
  tailwind.config.ts
  tests/unit/components/ui/Button.test.tsx
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

feat(ui-components): added card UI component
  src/app/components-demo/page.tsx
  src/components/ui/card.tsx
  src/lib/ui/card-variants.ts
  tests/unit/components/ui/Card.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added input UI component
  src/app/components-demo/page.tsx
  src/app/globals.css
  src/components/ui/input.tsx
  src/lib/input-variants.ts
  tailwind.config.ts
  tests/unit/components/ui/Input.test.tsx
Due: prettier, eslint, typescript-check, stylelint, madge-circular

chore: added components demo page to view UI components
  src/app/components-demo/page.tsx
Due: prettier, eslint, typescript-check, madge-circular

chore(ui-components): resolved merge conflicts
  package-lock.json
  package.json
  src/app/components-demo/page.tsx
  src/app/globals.css
  src/components/ui/modal.tsx
  src/lib/ui/modal-variants.ts
  tailwind.config.ts
  tests/unit/components/ui/Modal.test.tsx
Due: prettier, eslint, typescript-check, stylelint, npm-audit, madge-circular, license-check

refactor(ui-components): reorganized ui lib files
  src/components/ui/button.tsx
  src/components/ui/input.tsx
  src/components/ui/skeleton.tsx
  src/components/ui/toast.tsx
  src/lib/ui/button-variants.ts
  src/lib/ui/input-variants.ts
  src/lib/ui/skeleton-variants.ts
  src/lib/ui/toast-variants.ts
Due: prettier, eslint, typescript-check, madge-circular

refactor(ui-components): broke component demo into multiple pages
  src/app/components-demo/button/page.tsx
  src/app/components-demo/card/page.tsx
  src/app/components-demo/input/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/modal/page.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/skeleton/page.tsx
  src/app/components-demo/toast/page.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added badge UI component
  UI_GUIDE.md
  src/app/components-demo/badge/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/Badge.stories.mdx
  src/components/ui/badge.tsx
  src/lib/ui/badge-variants.ts
  tests/unit/components/ui/Badge.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(ui-components): added skeleton UI component
  src/app/components-demo/page.tsx
  src/app/globals.css
  src/components/ui/Skeleton.stories.mdx
  src/components/ui/skeleton.tsx
  src/lib/skeleton-variants.ts
  tailwind.config.ts
  tests/unit/components/ui/Skeleton.test.tsx
Due: prettier, eslint, typescript-check, stylelint, madge-circular

feat(ui-components): added toast UI component
  package-lock.json
  src/app/components-demo/page.tsx
  src/components/ui/Toast.stories.mdx
  src/components/ui/toast.tsx
  src/lib/toast-variants.ts
  tests/unit/components/ui/Toast.test.tsx
  tests/unit/stores/ui/search-filter-store.test.ts
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

feat(ui-components): added dropdown UI component
  UI_GUIDE.md
  package-lock.json
  package.json
  src/app/components-demo/dropdown/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/Dropdown.stories.mdx
  src/components/ui/dropdown.tsx
  src/lib/ui/dropdown-variants.ts
  tests/unit/components/ui/Dropdown.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, npm-audit, madge-circular, license-check

feat(ui-components): added tab UI component
  UI_GUIDE.md
  package-lock.json
  package.json
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/tabs/page.tsx
  src/components/ui/Tabs.stories.mdx
  src/components/ui/tabs.tsx
  src/lib/ui/tabs-variants.ts
  tests/unit/components/ui/Tabs.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, npm-audit, madge-circular, license-check

feat(ui-components): added select UI component
  UI_GUIDE.md
  package-lock.json
  package.json
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/select/page.tsx
  src/components/ui/Select.stories.mdx
  src/components/ui/select.tsx
  src/lib/ui/select-variants.ts
  tests/unit/components/ui/Select.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, npm-audit, madge-circular, license-check

feat(ui-components): added tooltip UI component
  UI_GUIDE.md
  package-lock.json
  package.json
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/tooltip/page.tsx
  src/components/ui/Tooltip.stories.mdx
  src/components/ui/tooltip.tsx
  src/lib/ui/tooltip-variants.ts
  tests/unit/components/ui/Tooltip.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, npm-audit, madge-circular, license-check

feat(ui-components): added accordian UI component
  UI_GUIDE.md
  src/app/components-demo/accordion/page.tsx
  src/app/components-demo/layout.tsx
  src/components/ui/Accordion.stories.mdx
  src/components/ui/accordion.tsx
  src/lib/ui/accordion-variants.ts
  tests/unit/components/ui/Accordion.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(ui-components): added avatar UI component
  UI_GUIDE.md
  src/app/components-demo/avatar/page.tsx
  src/app/components-demo/layout.tsx
  src/components/ui/Avatar.stories.mdx
  src/components/ui/avatar.tsx
  src/lib/ui/avatar-variants.ts
  tests/unit/components/ui/Avatar.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(ui-components): added text area UI component
  UI_GUIDE.md
  src/app/components-demo/layout.tsx
  src/app/components-demo/textarea/page.tsx
  src/components/ui/Textarea.stories.mdx
  src/components/ui/textarea.tsx
  src/lib/ui/textarea-variants.ts
  tests/unit/components/ui/Textarea.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(ui-components): added progress UI component
  UI_GUIDE.md
  src/app/components-demo/layout.tsx
  src/app/components-demo/progress/page.tsx
  src/components/ui/Progress.stories.mdx
  src/components/ui/progress.tsx
  src/lib/ui/progress-variants.ts
  tests/unit/components/ui/Progress.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(ui-components): added datepicker UI component
  src/app/components-demo/datepicker/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/datepicker.tsx
  src/lib/ui/datepicker-variants.ts
  tests/unit/components/ui/DatePicker.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added checkbox UI component
  package-lock.json
  package.json
  src/app/components-demo/checkbox/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/checkbox.tsx
  src/hooks/components/ui/checkbox-hooks.ts
  src/lib/ui/checkbox-variants.ts
  src/types/ui/checkbox.ts
  tests/unit/components/ui/Checkbox.test.tsx
  tests/unit/hooks/components/ui/checkbox-hooks.test.tsx
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

docs(ui-components): added missing ui component stories
  src/components/ui/Card.stories.mdx
  src/components/ui/Checkbox.stories.mdx
  src/components/ui/Input.stories.mdx
  src/components/ui/Modal.stories.mdx
Due: none

feat(ui-components): added switch UI component
  jest.setup.js
  package-lock.json
  package.json
  src/app/components-demo/layout.tsx
  src/app/components-demo/switch/page.tsx
  src/components/ui/Switch.stories.mdx
  src/components/ui/switch.tsx
  src/components/ui/switch.types.ts
  src/hooks/components/ui/switch-hooks.ts
  src/lib/ui/switch-variants.ts
  tests/unit/components/ui/Switch.test.tsx
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

feat(ui-components): added drawer UI component
  src/app/components-demo/drawer/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/Drawer.stories.mdx
  src/components/ui/drawer.tsx
  src/lib/ui/drawer-variants.ts
  src/types/ui/drawer.ts
  tests/unit/components/ui/Drawer.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added list UI component
  src/app/components-demo/layout.tsx
  src/app/components-demo/list/page.tsx
  src/app/components-demo/page.tsx
  src/components/ui/list.stories.tsx
  src/components/ui/list.tsx
  src/lib/ui/list-variants.ts
  src/types/ui/index.ts
  src/types/ui/list.ts
  tests/unit/components/ui/List.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added slider UI component
  package-lock.json
  package.json
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/slider/page.tsx
  src/components/ui/Slider.stories.mdx
  src/components/ui/slider.tsx
  src/lib/ui/slider-variants.ts
  tests/unit/components/ui/Slider.test.tsx
Due: prettier, eslint, typescript-check, npm-audit, madge-circular, license-check

feat(ui-components): added pagination UI component
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/pagination/page.tsx
  src/components/ui/pagination.tsx
  src/lib/ui/pagination-variants.ts
  tests/unit/components/ui/Pagination.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added stepper UI component
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/app/components-demo/stepper/page.tsx
  src/components/ui/Stepper.stories.mdx
  src/components/ui/stepper.tsx
  src/lib/ui/stepper-variants.ts
  src/types/ui/stepper.ts
  tests/unit/components/ui/Stepper.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added icon UI component
  src/app/components-demo/icon/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/icon.tsx
  src/lib/ui/icon-registry.ts
  src/lib/ui/icon-variants.ts
  src/types/ui/icon.ts
  tests/unit/components/ui/Icon.test.tsx
Due: prettier, eslint, typescript-check, madge-circular

feat(ui-components): added alert UI component
  UI_GUIDE.md
  src/app/components-demo/alert/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/Alert.stories.mdx
  src/components/ui/alert.tsx
  src/components/ui/alert.types.ts
  src/lib/ui/alert-variants.ts
  tests/unit/components/ui/Alert.test.tsx
Due: prettier, eslint, typescript-check, markdownlint, madge-circular

feat(ui-components): added breadcrump UI component
  src/app/components-demo/breadcrumb/page.tsx
  src/app/components-demo/layout.tsx
  src/app/components-demo/page.tsx
  src/components/ui/Breadcrumb.stories.mdx
  src/components/ui/breadcrumb.tsx
  src/lib/ui/breadcrumb-variants.ts
  src/types/ui/breadcrumb.ts
  tests/unit/components/ui/Breadcrumb.test.tsx
Due: prettier, eslint, typescript-check, madge-circular
